header {
    text-align: center;
    padding: 20px;
	background-image: linear-gradient(
		to bottom,
		rgb(255, 253, 194),
		rgb(255, 227, 200)
	  ), url("img/pou.png");
	background-repeat: no-repeat;
	background-color: #cccccc;
}

html { 
    font-family: sans-serif;
    font-size: 25px;
}

#escada {
    height: 30%;
    div {
        border-radius:50%;
        background-color:bisque;
        float:left;
        padding:5px;
        margin-left:1%
    }
}

#imagemEspacada {
    display: flex;
    div {
        background-color: beige;
        img {
            border-radius:20%;
            background-color: blanchedalmond;
            padding:40px;
            width: 50%;
        }
    }
}

#imagemJunto {
    display:flex;
    div {
        background-color: beige;
    }
}